[project]
	description = Test jerrit
[access "refs/*"]
	owner = group user/anushkaD (anushkaD)
[access "refs/for/refs/*"]
	read = group user/anushkaD (anushkaD)
	push = group user/anushkaD (anushkaD)
	label-Code-Review = -2..+2 group user/anushkaD (anushkaD)
	label-Verified = -1..+1 group user/anushkaD (anushkaD)
	rebase = group user/anushkaD (anushkaD)
	removeReviewer = group user/anushkaD (anushkaD)
	submit = group user/anushkaD (anushkaD)
[access "refs/heads/*"]
	read = group user/anushkaD (anushkaD)
	create = group user/anushkaD (anushkaD)
	push = +force group user/anushkaD (anushkaD)
	pushMerge = group user/anushkaD (anushkaD)
[access "refs/tags/*"]
	push = +force group user/anushkaD (anushkaD)
	pushTag = group user/anushkaD (anushkaD)
	pushSignedTag = group user/anushkaD (anushkaD)
